services:
  redis-db:
    image: redis:7.2-alpine
    ports:
      - '6379:6379'

  postgres-db:
    image: postgres:16.2-alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123123123
      POSTGRES_DB: bitfi-pmm

  api-server:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis-db
      - postgres-db
    env_file:
      - .env
    environment:
      DATABASE__URL: postgresql://postgres:123123123@postgres-db:5432/bitfi-pmm
      REDIS__URL: redis://redis-db:6379
    volumes:
      - ./config:/app/config:ro
    ports:
      - '3000:3000'
